.page_cardSmall__UiD6X,
.page_card__QV0Om {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;
}
.page_card__QV0Om {
  aspect-ratio: 16/9;
}
.page_cardSmall__UiD6X,
.page_card__QV0Om {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}
.page_cardSmall__UiD6X {
  aspect-ratio: 16/6;
}
.page_overlay__pWWMz {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1.2rem 1.5rem;
  color: #033a79;
  font-weight: 300;
  font-size: 24px;
  border-radius: 6px;
  z-index: 2;
  box-sizing: border-box;
}
.page_rightSection__VCwMG {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
}
.page_goldLeftPanel__q70nT {
  border: 2px solid #f5e1e1;
  border-right: none;
  border-radius: 10px 0 0 10px;
  text-align: center;
  width: 50%;
  min-height: 450px;
  position: relative;
}
.page_content__kDoxQ againWrapper,
.page_goldLeftPanel__q70nT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page_content__kDoxQ againWrapper {
  padding: 20px;
  max-width: 85%;
}
.page_goldLeftPanel__q70nT img {
  margin-bottom: 15px;
  max-width: 100%;
}
.page_textRed__W4BAn {
  color: #d32f2f;
  font-weight: 700;
  font-size: 22px;
}
.page_textBlue__8jMCK,
.page_textRed__W4BAn {
  margin: 10px 0;
  overflow-wrap: break-word;
  word-break: break-word;
  font-family: Arial, sans-serif;
}
.page_textBlue__8jMCK {
  color: #1976d2;
  font-size: 14px;
  line-height: 1.4;
}
.page_goldLeftPanel__q70nT a {
  text-decoration: none;
  font-size: 14px;
  color: #d32f2f;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}
.page_goldRightPanel__8ZiIJ {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.page_goldRightPanel__8ZiIJ img {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  object-fit: cover;
  display: block;
  background-color: #8b0000;
}
@media (max-width: 768px) {
  .page_rightSection__VCwMG {
    flex-direction: column;
  }
  .page_goldLeftPanel__q70nT,
  .page_goldRightPanel__8ZiIJ {
    width: 100%;
  }
  .page_goldLeftPanel__q70nT {
    border-radius: 10px 10px 0 0;
    border-right: 2px solid #f5e1e1;
    border-bottom: none;
  }
  .page_goldRightPanel__8ZiIJ img {
    border-radius: 0 0 10px 10px;
  }
}
.page_categoryItem__ZqrrQ .page_imageWrapper__OufeY .page_categoryImage__iTTGG {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    border-radius 0.3s ease,
    box-shadow 0.3s ease;
}
.page_categoryItem__ZqrrQ:hover .page_imageWrapper__OufeY .page_categoryImage__iTTGG {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
