/* code formatter run this script "  npx prettier --write .  " */

.credibilitySection {
  background-color: #f5e7d6;
}

.leftSection,
.rightSection {
  position: relative;
  color: #333;
  min-height: 100%;
  overflow: hidden;
}

.leftSection::before,
.rightSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  opacity: 0.2;
  z-index: 0;
}

.leftSection::before {
  background-image: url('../assets/LeftBG.png');
}

.rightSection::before {
  background-image: url('../assets/RightBG.png');
}

.leftSection > *,
.rightSection > * {
  position: relative;
  z-index: 1;
}

.card,
.cardSmall {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 6px;
}

.cardSmall {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 6;
  overflow: hidden;
  border-radius: 6px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1.2rem 1.5rem;
  color: #033a79;
  font-weight: 300;
  font-size: 24px;
  /* background: linear-gradient(to top, #c77771, rgba(103, 136, 209, 0.3), transparent);
	filter: drop-shadow(0px -8px 12px rgba(173, 216, 230, 0.5)); */
  border-radius: 6px;
  z-index: 2;
  box-sizing: border-box;
}
